@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 700;

    src: url(./fonts/GenShinGothic-Heavy.woff2) format("woff2"),url(./fonts/GenShinGothic-Heavy.woff) format("woff"),url(./fonts/GenShinGothic-Heavy.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 400;

    src: url(./fonts/GenShinGothic-Medium.woff2) format("woff2"),url(./fonts/GenShinGothic-Medium.woff) format("woff"),url(./fonts/GenShinGothic-Medium.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 200;

    src: url(./fonts/GenShinGothic-Light.woff2) format("woff2"),url(./fonts/GenShinGothic-Light.woff) format("woff"),url(./fonts/GenShinGothic-Light.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 200;

    src: url(../files/fonts/mgenplus-p-light.woff2) format("woff2"),url(../files/fonts/mgenplus-p-light.woff) format("woff"),url(../files/fonts/mgenplus-p-light.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 400;

    src: url(../files/fonts/mgenplus-p-medium.woff2) format("woff2"),url(../files/fonts/mgenplus-p-medium.woff) format("woff"),url(../files/fonts/mgenplus-p-medium.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 700;

    src: url(../files/fonts/mgenplus-p-heavy.woff2) format("woff2"),url(../files/fonts/mgenplus-p-heavy.woff) format("woff"),url(../files/fonts/mgenplus-p-heavy.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 200;

    src: url(../files/fonts/mgenplus-c-light.woff2) format("woff2"),url(../files/fonts/mgenplus-c-light.woff) format("woff"),url(../files/fonts/mgenplus-c-light.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 400;

    src: url(../files/fonts/mgenplus-c-medium.woff2) format("woff2"),url(../files/fonts/mgenplus-c-medium.woff) format("woff"),url(../files/fonts/mgenplus-c-medium.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 700;

    src: url(../files/fonts/mgenplus-c-heavy.woff2) format("woff2"),url(../files/fonts/mgenplus-c-heavy.woff) format("woff"),url(../files/fonts/mgenplus-c-heavy.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-mn-w';
    font-weight: 400;

    src: url(../files/fonts/mgenplus-mn-medium.woff2) format("woff2"),url(../files/fonts/mgenplus-mn-medium.woff) format("woff"),url(../files/fonts/mgenplus-mn-medium.ttf) format("truetype");
    font-display: swap
}
@font-face
{
    font-family: 'mgenplus-mn-w';
    font-weight: 600;

    src: url(../files/fonts/mgenplus-mn-bold.woff2) format("woff2"),url(../files/fonts/mgenplus-mn-bold.woff) format("woff"),url(../files/fonts/mgenplus-mn-bold.ttf) format("truetype");
    font-display: swap
}