@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 700;

    src: lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-Bold.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-Bold.woff) format("woff")'),
    lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-Bold.ttf) format("truetype")');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 300;

    src: lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-Normal.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-Normal.woff) format("woff")'),
    lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-Normal.ttf) format("truetype")');
}
@font-face
{
    font-family: 'GenShinGothic-w';
    font-weight: 100;

    src: lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-ExtraLight.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-ExtraLight.woff) format("woff")'),
    lookup('url(' + config-site_url + '/assets/fonts/GenShinGothic-ExtraLight.ttf) format("truetype")');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 200;

    src: lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-light.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-light.woff) format("woff")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-light.ttf) format("truetype")');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 400;

    src: lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-regular.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-regular.woff) format("woff")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-regular.ttf) format("truetype")');
}
@font-face
{
    font-family: 'mgenplus-p-w';
    font-weight: 700;

    src: lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-bold.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-bold.woff) format("woff")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-p-bold.ttf) format("truetype")');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 200;

    src: lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-light.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-light.woff) format("woff")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-light.ttf) format("truetype")');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 400;

    src: lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-regular.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-regular.woff) format("woff")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-regular.ttf) format("truetype")');
}
@font-face
{
    font-family: 'mgenplus-c-w';
    font-weight: 700;

    src: lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-bold.woff2) format("woff2")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-bold.woff) format("woff")'),
    lookup('url(' + config-site_url + '/files/fonts/mgenplus-c-bold.ttf) format("truetype")');
}