html,
body
  word-break: break-word
  scroll-behavior: smooth

@media (max-width: 350px)
  html,
  body
    font-size: 12px

@media (min-width: 350px)
  html,
  body
    font-size: 14px

@media (min-width: 500px)
  html,
  body
    font-size: 16px

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6
  font-feature-settings: "palt"

.card .card-footer
  position: absolute
  bottom: 0
  left: 0
  width: 100%

#main_header
  background-size: cover
  text-shadow: 0 0 1px #212121,0 0 2px #212121
  padding: 5em 0 0
