html
body
  line-height: 1.6em
  font-family: mgenplus-c-w, GenShinGothic-w, sans-serif

h1
  padding: 1.7rem
  background-color: #000
  color: #fff

h1
h2
h3
h4
h5
h6
  font-family: mgenplus-p-w, GenShinGothic-w, sans-serif,

pre
code
  font-family: mgenplus-mn-w, Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace !important

nav
  padding: 0.7rem
  position: sticky
  left: 0
  top: 0
  background-color: #e2e2e2
  color: #000000

  a
  a:visited
  a:link
    color: #202020

#main
  margin: 0 0.5rem