
@font-face {
    font-family: 'GenShinGothic';
    src: local('GenShinGothic-Light'), local('NotoSansCJKjp-Light'), local('SourceHanSansJP-Light'),
    url('../fonts/GSG-Light.woff') format('woff'),url('../fonts/GenShinGothic-Light.ttf') format('truetype');
    font-weight: 300;
}

@font-face {
    font-family: 'GenShinGothic';
    src: local('GenShinGothic-Normal'), local('NotoSansCJKjp-DemiLight'), local('SourceHanSansJP-Normal'),
    url('../fonts/GSG-Normal.woff') format('woff'),url('../fonts/GenShinGothic-Normal.ttf') format('truetype');
    font-weight: 400;
}
@font-face {
    font-family: 'GenShinGothic';
    src: local('GenShinGothic-Medium'), local('NotoSansCJKjp-Medium'),  local('SourceHanSansJP-Medium'),
    url('../fonts/GSG-Medium.woff') format('woff'),url('../fonts/GenShinGothic-Medium.ttf') format('truetype');
    font-weight: 500;
}
@font-face {
    font-family: 'GenShinGothic';
    src: local('GenShinGothic-Regular'), local('NotoSansCJKjp-Regular'), local('SourceHanSansJP-Regular'),
    url('../fonts/GSG-Regular.woff') format('woff'),url('../fonts/GenShinGothic-Regular.ttf') format('truetype');
    font-weight: 600;
}
@font-face {
    font-family: 'GenShinGothic';
    src: local('GenShinGothic-Bold'), local('NotoSansCJKjp-Bold'), local('SourceHanSansJP-Bold'),
    url('../fonts/GSG-Bold.woff') format('woff'),url('../fonts/GenShinGothic-Bold.ttf') format('truetype');
    font-weight: 700;
}
/*
@font-face {
    font-family: 'GenShinGothic';
    src: local('GenShinGothic-Heavy'), local('NotoSansCJKjp-Black'), local('SourceHanSansJP-Heavy'),
    url('../fonts/GSG-Heavy.woff') format('woff'),url('../fonts/GenShinGothic-Heavy.ttf') format('truetype');
    font-weight: 900;
}
*/

body {
    font-family: Roboto, 'GenShinGothic', 'ヒラギノ明朝 ProN W3', 'Hiragino Mincho ProN', 'Yu Gothic', 'YuGothic', Meiryo;
}