
.loading.pt-5
  p.pt-3: span.zoomIn.t-0350em.text-suiranfes
    <i class="icon-ths-takasakihs fa-spin" aria-hidden="true"></i>
  noscript
    p javascriptを有効にして御覧ください。

nav
  a(href=`${site.site_url}/`) tmin.xyz