//- javascript
-
  const page = pages[page_index_numer]
  const pug_api = require("pug")
  const htmlmin = require("html-minifier").minify
  const kramed = require("kramed")
  let main_html
  function md_better(body){
    body = body.replace(/<h([2-6]) (.*?)>/g,"<h$1 class='pt-5' $2>")
    body = body.replace(/<a href=\"https?:\/\/(.*?)\">/g,"<a href=\"\/\/$2\" target='_blank' rel='noopener'>")
    return body
  }

//- make main html
case page.srcext
  when '.md'
    - main_html = htmlmin(md_better(kramed(page.body),{"collapseWhitespace": true,"removeEmptyAttributes": true,"removeEmptyElements": true}))
  when '.html'
  when '.htm'
    - main_html = htmlmin(page.body,{"collapseWhitespace": true,"removeEmptyAttributes": true,"removeEmptyElements": true})
  when '.pug'
    -
      let locals = {"site": site,"pages": pages,"page": page,"package": package,"option": option}
      let fn = pug_api.compile(page.body,{filters:require('./pugfilters.js')})
      main_html = fn(locals)