h1 {
    font-weight: bold;
}
@media screen and (max-width: 500px) {
h1 {
   font-size: 23pt;
}
h2 {
   font-size: 12pt;
   font-weight: 500;
}
}

@media screen and (min-width: 500px) {
h1 {
   font-size: 58pt;
}
h2 {
   font-size: 25pt;
   font-weight: 600;
}
}
.card-title {
    text-shadow: 0 0 2px black,0 0 3px black;
}